html, body {
	font-family: Comic Sans MS, sans-serif;
	background-color: powderblue;
}

.header {
	padding: 0;
}

p {
	overflow: auto;
	width: 100%;
}

@media only screen and (max-width: 850px) {
	p {
		width: 400px;
	}
}

img{
	max-width:400px;
	max-height:400px;
}

.solve {
	display: block;
}


@media only screen and (min-width: 850px) {
	canvas, img {
		float: left;
		padding: 10px;
	}

	.solve, footer {
		clear: left;
	}
}
